html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Open Sans","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 12px;
	color: #666666;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

.myheader {
	background-color: #3551ad;
    margin: 0;
    padding: 0;
    min-height: 65px;
}

.myheader span {
	padding-top: 15px;
	color: white;
	font-size: 25px;
}

.myheader ul {
	padding-top: 5px;	
}

.myheader ul li a {
	color: white;
	font-size: 18px;
	font-family: Calibri;
}	

.copyright {
	padding-top: 15px;
}	

.social-color{
	color: #666666;
}

.social-color:hover{
	color: white;
}

.icons-social {
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.title {
	padding-top: 10px;
}

.myheader ul li a:hover, .myheader ul li a:focus {
	color: #1F448C;	
}

.myheader ul li ul li a {
	color: #1F448C;
}

.myheader ul li ul li a:hover {
	color: white;
	background-color: #1F448C;
}


.container-servicio {	
	width: 70%;
	padding-bottom:40px; 
}

.related-pay {
	color: #FF3E84;	
	padding-bottom: 10px;
}

.button-related {
	padding-top: 10px;
}

.button-related input {
	background-color: white;
	border: 2px solid #FF3E84;
	color: #FF3E84;
	border-radius: 25px;
	width: 130px;
	height: 35px;
}

.button-related input:hover {
	background-color: #FF3E84;
	border: 2px solid #FF3E84;
	color: white;
	border-radius: 25px;
	width: 130px;
	height: 35px;
}


footer {
	background-color: #252525;
	padding-top: 30px;
	color: white;
	margin-top: 20px;
}

.footer-bottom {
	background-color: #222222;
	font-size: 16px;
	padding-top: 15px;
}

footer hr {		
	border: 2px solid #222222;
	height: 2px;
	background-color: black;
}

footer h4 {		
	padding: 0;
	margin: 0;
	margin-bottom: 2px;
}

.footer-line1 {	
	padding: 0;
	margin: 0;
	border: 1px solid #222222;	
	height: 2px;
	width: 120px; 
	background-color: #1F448C;
}

.footer-line2 {	
	padding: 0;
	margin: 0;
	border: 1px solid #222222;	
	height: 2px;
	width: 220px; 
	background-color: #1F448C;
}

.stroke {
	color: white;
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}


.price {
	font-size: 18px; 
	color: #FF3E84;
}

.product {
	min-height: 300px;
}

.visita {
	margin-top: 70px;
	margin-bottom: 10px;
}

.btn-pink {
	background-color: #FF3E84;
	color: white;
	border-radius: 25px;
	border: 2px solid #FF3E84;

}

.btn-pink:hover {
	border: 2px solid #FF3E84;
	background-color: white;
	color: #FF3E84;
	border-radius: 25px;
}

.product-include {
	margin-top:20px;
	margin-bottom: 10px;
	color: black;
	font-weight: bold;
}

.item-select {
	margin-bottom: 20px;
}

.include-list {
	color: #3E62B7;
}


.product-line {
	margin: 0;
	padding: 0;
}

.item-unit{
	padding-top: 10px;
}

.thumbnails {
	list-style-type:none;
}
.main-picture {
	display: block;
}

.breadcrumb {
	background-color: transparent;
}
.breadcrumb a {
	color: grey;
}

.img-related{
	width:60px;
	height:60px;
}

#details {
	margin-top:40px;
}

#itemOthers {
	margin-bottom: 20px;	
}

.desc-related {
 min-height: 60px;
}

/*  --- mobile ---- */
@media (max-width: 767px) {
	
   
   } 
   /* ---- mobile end ----- */

   